@font-face {
   font-family:"ProximaNova Bold";
   src:url("http://s.glbimg.com/gl/ba/fonts/proximanova-bold-limited-webfont.eot");
   src:url("http://s.glbimg.com/gl/ba/fonts/proximanova-bold-limited-webfont.eot?#iefix") format("embedded-opentype"),
       url("http://s.glbimg.com/gl/ba/fonts/proximanova-bold-limited-webfont.woff") format("woff"),
       url("http://s.glbimg.com/gl/ba/fonts/proximanova-bold-limited-webfont.ttf") format("truetype"),
       url("http://s.glbimg.com/gl/ba/fonts/proximanova-bold-limited-webfont.svg") format("svg");
   font-weight:normal;
   font-style:normal;
}