@import "compass";

.glb-share-container {
    display: table;
    border-collapse: separate;
    width: 100%;
    margin-bottom: 15px;

    .share-button {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding-left: 4px;

        &:first-child {
            padding-left: 0px;
        }

        a {
            display: block;
            padding: 8px;
            @include border-radius(3px);
            text-decoration: none;
        }


        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            color: white;
        }

        &.small span {
            display: none;
        }
    }

    .share-icon {
        fill: white;
        max-width: 24px;
        max-height: 24px;
        width: 50%;
        height: 50%;
        display: inline-block;
        vertical-align: middle;
    }
}