@import "compass";
@import "share-icon";


.share-bar-container {
    display: table;
    border-collapse: separate;
    width: 100%;

    .share-button {
        display: table-cell;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: ProximaNova-Bold, Arial;
        text-transform: uppercase;
        letter-spacing: 0;

        min-width: 40px;
        vertical-align: bottom;
        text-align: center;
        padding-left: 4px;

        &:first-child {
            padding-left: 0px;
        }

        a {
            display: block;
            padding: 9px 10px 11px 10px;
            height: 20px;
            @include border-radius(3px);
            text-decoration: none;
            @include box-shadow(rgba(0,0,0,0.25) 0 -2px 0 inset);
            @include box-sizing(content-box);

            &:active {
                padding-bottom: 6px;
                @include box-shadow(rgba(0,0,0,0.25) 0 0 0 inset);
            }
        }

        i {
            line-height: 20px;
            color: #FFFFFF;
        }

        span {
            display: none;

        }

        &.share-full {
            display: inline-block;

            a {
                padding: 6px 10px 8px 10px;
            }

            span {
                line-height: 21px;
                display: inline-block;
                vertical-align: middle;
                font-size: 11px;
                color: white;
                width: 70px;
                text-align: center;
            }

            .share-icon {
                top: inherit;
                -webkit-transform: inherit;
                -ms-transform: inherit;
                transform: inherit;
            }

        }

        &.share-small {
            display: inline-block;
            min-width: 34px;

            a {
                padding: 6px 7px 8px 7px;

                &:active {
                    padding-bottom: 6px;
                    @include box-shadow(rgba(0,0,0,0.25) 0 0 0 inset);
                }
            }
        }

        &.share-hidden {
            display: none;
        }
    }

    .svg-size {
        width: 20px;
        height: 20px;
        display: inline-block;

        .share-icon {
            fill: white;
            max-width: 16px;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            display: inline-block;
            vertical-align: middle;
        }
    }
}


.share-facebook .svg-size .share-icon {
    max-width: 16px;
    max-height: 16px;
}

.share-twitter .svg-size .share-icon {
    max-width: 20px;
    max-height: 20px;
}

.share-whatsapp .svg-size .share-icon {
    max-width: 18px;
    max-height: 18px;
}

.share-googleplus .svg-size .share-icon {
    max-width: 18px;
    max-height: 18px;
}

.share-pinterest .svg-size .share-icon {
    max-width: 18px;
    max-height: 18px;
}

.share-email .svg-size .share-icon {
    max-width: 16px;
}
